.container
  display: flex
  flex-flow: row wrap

section
  border: 1px #EEEEEE solid
  display: flex
  padding: 10px 20px

.wideContainer
  width: 100%
  flex-flow: column wrap

.narrowContainer
  width: 25%
  justify-content: center
  flex-flow: row wrap

  @media (max-width: 480px)
    width: 100%
