* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none;
  color: #555555;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  font-size: 12px;
  line-height: 24px;
}
